@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");

@mixin flexbox-and-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

* {
  box-sizing: border-box;
}
html {

  height: 100vh;
  width: 100vw;
}
body {
  /* padding: 10px 0 0 0; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h1 {
  font-size: 3.5vw;
  font-weight: 300;
  color: white;
  font-family: "Lato";
}
.strips {
  height: 100%;
  width: 98%;
  overflow: hidden;
  text-align: center;
  display: flex;
  cursor: pointer;
  .strip {
    position: relative;
    width: 19.9%;
    margin: 0.1%;
    height: 97%;
    display: flex;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    .strip_content {
      @include flexbox-and-position;
      height: 100%;
      width: 100%;
      text-align: center;
    }
  }
  .strip_content:before {
    content: "";
    @include flexbox-and-position;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    transform-origin: center center;
    transform: skew(30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }
  .strip_content:hover:before {
    transform: skew(0deg) scaleX(2) translate(0, 0);
    opacity: 0.2;
  }
}
.strip:nth-child(1) {
  .strip_content {
    background-color: #244f75;
    animation-name: strip--u4rx9pe;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
}

/* FOR LOOP EXERCICI 3 */

@for $i from 1 through 5 {
  .strip:nth-child(#{$i}) {
    .strip_content {
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
}

.strip:nth-child(1) {
  .strip_content {
    background-color: #244f75;
    animation-name: strip--u4rx9pe;
  }
}

@keyframes strip--u4rx9pe {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}
.strip:nth-child(2) {
  .strip_content {
    background-color: #60bfbf;
    animation-name: strip--u4rx9pg;
  }
}

@keyframes strip--u4rx9pg {
  from {
    transform: translate3d(0, 100%, 0);
  }
}
.strip:nth-child(3) {
  .strip_content {
    background-color: #8c4b7e;
    animation-name: strip--u4rx9q8;
  }
}
@keyframes strip--u4rx9q8 {
  from {
    transform: translate3d(0, -100%, 0);
  }
}
.strip:nth-child(4) {
  .strip_content {
    background-color: #f8bb44;
    animation-name: strip--u4rx9qn;
  }
}
@keyframes strip--u4rx9qn {
  from {
    transform: translate3d(0, 100%, 0);
  }
}
.strip:nth-child(5) {
  .strip_content {
    background-color: #f24b4b;
    animation-name: strip--u4rx9r0;
  }
}
@keyframes strip--u4rx9r0 {
  from {
    transform: translate3d(100%, 0, 0);
  }
}
